<div class="viewed-painting row">
  <ngx-image-zoom
      [thumbImage]="viewedPainting" 
      [fullImage]="viewedPainting" 
      [magnification]="3"
      [zoomMode]="'click'" 
      [enableScrollZoom]="true"
      [scrollStepSize]="0.5" 
      [enableLens]="true"
      [lensWidth]="200"
      [lensHeight]="200" 
      [circularLens]="true" 
      [minZoomRatio]="1"
      [maxZoomRatio]="16">
    </ngx-image-zoom>
    <ul>
      <li><i class="fa fa-window-close icons" (click)="closed()"></i></li>
      <li><a href="{{viewedPainting}}" download><i class="fa fa-download icons"></i></a></li>
    </ul>
  </div>